<template>
    <div>
        MyGame
    </div>
    <OXTable />
</template>
<script>
import OXTable from '../components/OXTable.vue'
export default {
  components: {
    OXTable: OXTable
  }
}
</script>
<style></style>
